html {
  box-sizing: border-box;
  font-size: 85%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background: #444;
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.sidepane-left-navigation {
    float: left;
    border-right: ridge 3px #00aa00;
    display: flex;
    flex-direction: column;
}
.sidepane-right-navigation {
    float: left;
}

.sidepane-tab{
  position: relative;
  display: block;
  margin: .5rem;
}
.sidepane-tab-small {
  display: none;
}
.sidepane-tab-large {
  /*display: inline-block;
  width: 100%;*/
  display: none;
}
.sidepane-tab button {
  position: relative;
  display: block;
  width: 100%;
}
h1{
  font-size: 3em;
}
h2.subheading{
  font-size: 1.5em;
  margin: 2rem;
}
h3.subsubheading{
  font-size: 1.2em;
  margin: 2rem;
  font-weight: normal;
}
h3.side {
    font-size: 1.1em;
}

.section-image {
  margin: auto;
  margin-bottom: 3rem;
  width: 30vw;
  height: 30vw;
}
.section-image > img {
  position: relative;
  height: 100%;
}

a {
  text-decoration: none; /* no underline */
}

a.downloadpdf-button {
  background-color: #7e7e7e;
  border: lightgreen 2px solid;
  border-radius: 5px;
  padding: 1rem 1.5rem 1rem 1.5rem;
  color: lightgreen;
  font-weight: bold;
  font-size: 1.1em;
}

a.downloadpdf-button:hover, a.downloadpdf-button:focus {
  color: #5e5e5e;
  background-color: lightgreen;
  transition: 0.5s;
}

button {
  background-color: #5e5e5e;
  color: lightgreen;
  padding: 0.5rem;
  font-weight: bold;
  border: lightgreen solid 1px;
  border-radius: 2px;
}
button:hover, button:focus {
  cursor: pointer;
  background-color: lightgreen;
  color: #5e5e5e;
  transition: 0.5s;
}

@media (max-width: 800px) {
  html {
    font-size: 100%;
  }
  body{
    background: #444;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }

  .sidepane-left-navigation {
      float: top;
      border-right: 0px;
      border-bottom: ridge 3px #00aa00;
      display: flex;
      flex-direction: row;
  }
  .sidepane-right-navigation {
      float: top;
  }

  .sidepane-tab{
    position: relative;
    display: block;
    margin: .6rem;
  }
  .sidepane-tab-small {
    display: none;
  }
  .sidepane-tab-large {
    /*display: inline-block;
    width: 100%;*/
    display: none;
  }
  .sidepane-tab button {
    position: relative;
    display: inline-block;
    width: 15vw;
    height: 5rem;
  }
  h3.side {
    margin: 2rem;
  }
  button {
      border: lightgreen solid 1px;
  }
}

